//------------------------------------------------------------
// color variavle setting
//------------------------------------------------------------

$black: rgba(0,0,0,1); // #000000

//=========================
// カラーパレット
//=========================

$colors: (
	basetxt: lighten($black, 20%), // ベーステキストカラー
	link: rgba(107,150,250,1), // リンク、ボタンカラー
	visited: rgba(78,23,173,1), // #4e17ad リンク訪問済みカラー
	ttl: rgba(52,103,224,1), // #3467e0 見出しカラー
	disable: lighten($black, 80%), // #cccccc 非選択状態カラー
	alert: rgba(255,0,0,1), // #ff0000 エラーやアラートに使用
	col-red: rgba(230,23,23,1), // #e61717 赤で強調したい場合に使用
	col-black: rgba(0,0,0,1), // #000000 ベーステキストカラーで弱い場合のみ使用
	col-blue: rgba(74,103,173,1), // #4a67ad サブ要素に使用
	col-orange: rgba(253,128,37,1), // #fd8025 コンバージョンに絡む要素に仕様
	col-gray: lighten($black, 40%), // #666666 リンクやじるし、フッター見出しカラー
	col-lightgray: lighten($black, 60%), // #999999 グレーの囲い線カラー
	col-xlightgray: lighten($black, 90%), // #e6e6e6 見出し補足線、サブボタンカラー
	col-white: rgba(255,255,255,1), // #ffffff ベースにネガティブカラー使ってる時に使用
	col-yellow: rgba(255,221,51,1), // #ffdd33 ワンポイントカラー
	col-lightyellow: rgba(255,247,204,1.0) // #fff7cc コンテンツ内で背景で強調したい場合に使用
);

@function colors($key) {
	@return map-get($colors, $key);
}